body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-family: 'Open Sans', sans-serif;
}

main {
    flex: 1 0 auto;
    
}

/*blog posts*/

.blog-post {
    margin-bottom: 100px;
}

.blog-post-title {
    padding-top: 10px;
    font-size: 40px;
}

.blog-post-meta {
    font-style: italic;
    
}

h3 {
    font-size: 20px
}

h5 {
    font-size: 50px
}

h6 {
    font-size: 25px
}


 
    


